doctype html
html.no-js
  head
    title Bookshelft
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href='https://fonts.googleapis.com/css?family=Cormorant+Garamond|Lora|Noto+Sans', rel='stylesheet')
    link(rel='stylesheet', href='stylesheet.css')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='index.html') Home page
            li
              a(href='index2.html') First book
            li
              a(href='index3.html') Second book
            li.active
              a(href='index4.html') Third book
    #introduction.container-fluid
      .row
        .col-xs-1
        .col-xs-7
        .col-xs-3
    .container-fluid.bg-3
      div(clas='row')
        .col-xs-1
        .col-xs-10
          h3 Luftslottet som spr&auml;ngdes:
          p
            img.img-responsive.margin(src='https://elilaserochskriver.files.wordpress.com/2009/12/9113015311.jpg', alt='Image')
            br
            |  Tv&aring; sv&aring;rt skadade personer tas in akut p&aring; Sahlgrenska sjukhuset i G&ouml;teborg. Den ena &auml;r Lisbeth Salander, som &auml;r efterlyst misst&auml;nkt f&ouml;r dubbelmord. Hon har en livshotande skottskada i huvudet och m&aring;ste opereras omedelbart. Den andre personen heter Alexander Zalachenko, en &auml;ldre man som Salander huggit med en yxa. Den tredje och avslutande delen i Millenniumserien tar vid d&auml;r Flickan som lekte med elden slutade. Lisbeth Salander &ouml;verlevde visserligen att bli levande begravd, men hennes problem &auml;r l&aring;ngt ifr&aring;n &ouml;ver. Zalachenko har tidigare varit yrkesm&ouml;rdare i den sovjetiska underr&auml;ttelsetj&auml;nsten. Han &auml;r dessutom Salanders far och det &auml;r han som f&ouml;rs&ouml;kt ta livet av henne. Starka krafter vill tysta Lisbeth Salander en g&aring;ng f&ouml;r alla. Samtidigt gr&auml;ver Mikael Blomkvist i Salanders dolda f&ouml;rflutna och kommer snart sanningen p&aring; sp&aring;ren. Han skriver p&aring; ett avsl&ouml;jande reportage som kommer att rentv&aring; Lisbeth Salander och skaka regeringen, S&auml;po och hela landet i dess grundvalar. &Auml;ntligen finns en chans f&ouml;r Lisbeth Salander att g&ouml;ra upp med sitt f&ouml;rflutna och en m&ouml;jlighet f&ouml;r r&auml;ttvisan - den verkliga - att segra.
          .col-xs-1
    | &gt;
    #introduction.container-fluid
      .row
        .col-xs-1
        .col-xs-7
        .col-xs-3
