doctype html
html.no-js
  head
    title Bookshelft
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href='https://fonts.googleapis.com/css?family=Cormorant+Garamond|Lora', rel='stylesheet')
    link(rel='stylesheet', href='stylesheet.css')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='index.html') Home page
            li
              a(href='index2.html') First book
            li.active
              a(href='index3.html') Second book
            li
              a(href='index4.html') Third book
    #introduction.container-fluid
      .row
        .col-xs-1
        .col-xs-7
        .col-xs-3
    .container-fluid
      div(clas='row')
        .col-xs-1
        .col-xs-10
          h1 Flickan som lekte med elden:
          p
            img.img-responsive.margin(src='https://elilaserochskriver.files.wordpress.com/2009/12/flickansomlektemedelden1.jpg', alt='Image')
            br
            |  Lisbeth Salander &aring;terv&auml;nder till Sverige efter en l&auml;ngre tids vistelse utomlands. Hon har kommit &ouml;ver en stor summa pengar vilket inneb&auml;r att hon f&ouml;r f&ouml;rsta g&aring;ngen i sitt liv &auml;r kvar och det g&aring;r upp f&ouml;r henne att hon &auml;r helt ensam. Samtidigt har Mikael Blomkvist p&aring; Millennium f&aring;tt korn p&aring; hett nyhetsstoff. Journalisten Dag Svensson och hans sambo Mia Bergman har hittat avsl&ouml;jande uppgifter om en omfattande sexhandel mellan &Ouml;steuropa och Sverige. M&aring;nga av de personer som utpekas i traffickingh&auml;rvan har h&ouml;ga positioner i samh&auml;llet. H&auml;ndelser i Salanders m&ouml;rka f&ouml;rflutna b&ouml;rjar g&ouml;ra sig p&aring;minda. N&auml;r Dag och Mia blir brutalt m&ouml;rdade riktas misstankarna mot Salander och en stor polisjakt drar ig&aring;ng. Salander best&auml;mmer sig att en g&aring;ng f&ouml;r alla g&ouml;ra upp med det f&ouml;rg&aring;ngna och straffa dem som f&ouml;rtj&auml;nar det. &angst;terigen korsas Blomkvists och Salanders v&auml;gar. Flickan som lekte med elden &auml;r den andra delen i Stieg Larssons Millenniumtrilogi.
          .col-xs-1
    #introduction.container-fluid
      .row
        .col-xs-1
        .col-xs-7
        .col-xs-3
