doctype html
html.no-js
  head
    title Bookshelft
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href='https://fonts.googleapis.com/css?family=Cormorant+Garamond|Lora|Noto+Sans', rel='stylesheet')
    link(rel='stylesheet', href='stylesheet.css')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='index.html') Home page
            li.active
              a(href='index2.html') First book
            li
              a(href='index3.html') Second book
            li
              a(href='index4.html') Third book
    #introduction.container-fluid
      .row
        .col-xs-1
        .col-xs-7
        .col-xs-3
    .container-fluid.bg-3
      div(clas='row')
        .col-xs-1
        .col-xs-10
          h3 M&auml;n som hatar kvinnor:
          p
            img.img-responsive.margin(src='http://bilder.norstedts.se/bilder/Omslag/224/13014080_O_1.jpg', alt='Image')
            br
            |  Ekonomijournalisten Mikael Blomkvist beh&ouml;ver en time out. Han har precis blivit f&auml;lld f&ouml;r f&ouml;rtal av finansmannen Hans-Erik Wennerstr&ouml;m och d&ouml;mts till tre m&aring;naders f&auml;ngelse. Han beslutar sig f&ouml;r att ta en paus fr&aring;n sitt jobb p&aring; tidskriften Millennium. I samma veva f&aring;r han ett ovanligt uppdrag. Henrik Vanger, tidigare en av landets fr&auml;msta industriledare, vill att Blomkvist ska skriva sl&auml;kten Vangers historia. Men det visar sig snart att familjekr&ouml;nikan bara &auml;r en t&auml;ckmantel f&ouml;r Blomkvists verkliga uppgift: att ta reda p&aring; vad som h&auml;nt Henrik Vangers unga sl&auml;kting Harriet, som varit sp&aring;rl&ouml;st f&ouml;rsvunnen i snart fyrtio &aring;r - n&aring;got som Henrik Vanger aldrig kunnat sl&auml;ppa. Blomkvist &aring;tar sig motvilligt uppdraget, och till sin hj&auml;lp f&aring;r han den unga Lisbeth Salander - en strulig tjej, tatuerad och piercad, men ocks&aring; en utm&auml;rkt researcher och en av landets fr&auml;msta hackers. Tillsammans gr&auml;ver Blomkvist och Salander allt djupare i familjen Vangers f&ouml;rflutna och m&ouml;ter en m&ouml;rkare och blodigare historia &auml;n n&aring;gon av dem kunnat ana.
          .col-xs-1
    #introduction.container-fluid
      .row
        .col-xs-1
        .col-xs-7
        .col-xs-3
