doctype html
html.no-js
  head
    title Bookshelft
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(href='https://fonts.googleapis.com/css?family=Cormorant+Garamond|Lora', rel='stylesheet')
    link(rel='stylesheet', href='stylesheet.css')
  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        #navbar-collapse.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='index.html') Home page
            li
              a(href='index2.html') First book
            li
              a(href='index3.html') Second book
            li
              a(href='index4.html') Third book
    #introduction.container-fluid
      .row
        .col-xs-1
        .col-xs-7
          h1 Marie&apos;s bookshelf:
        .col-xs-3
    .container-fluid
      div(clas='row')
        .col-xs-1
        .col-xs-3
          a(href='index2.html')
            img.img-responsive.margin(src='http://bilder.norstedts.se/bilder/Omslag/224/13014080_O_1.jpg', alt='Image')
          h2 M&auml;n som hatar kvinnor
        .col-xs-3
          a(href='index3.html')
            img.img-responsive.margin(src='https://elilaserochskriver.files.wordpress.com/2009/12/flickansomlektemedelden1.jpg', alt='Image')
          h2 Flickan som lekte med elden
        .col-xs-3
          a(href='index4.html')
            img.img-responsive.margin(src='https://elilaserochskriver.files.wordpress.com/2009/12/9113015311.jpg', alt='Image')
          h2 Luftslottet som spr&auml;ngdes
        .col-xs-1
    #introduction.container-fluid
      .row
        .col-xs-1
        .col-xs-7
        .col-xs-3
