nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
    #navbar-collapse.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='homepage.html') Home page
        li
          a(href='first-book.html') First book
        li
          a(href='second-book.html') Second book
        li
          a(href='third-book.html') Third book
